h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
.main {
  background-origin: padding-box;

  padding: 20px;
  border: 2px solid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 20px;
  text-align: center;
}
 .image {
   align-content: center;
   float: none;
   text-align: center;
 }

 h3 {
   text-align: center;
 }
 #projects {
   padding: 10px;
 }
 